body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #E9FFC4;
}

canvas {
    display: block;
}

.top-body{
    width: 100%;
    height: 100vh;
    position: relative;
}

.midori-bg{
    position: absolute;
    z-index: 0;
    text-align: center;
}

.midori-bg img{
    width: 100%;
    animation-duration: 60s;
    animation-name: drip;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    margin: auto;
}

@keyframes drip {
    from {
        width: 100vw;
        margin-top: -140px;
        height: 900px;
    }
    to {
        width: 100%;
        margin-top: 0px;
        height: 1480px;
    }
  }

.title{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 206px;
    height: 65px;
    display: block;
}

.comp{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    text-align: center;
    display: block;
}

.entry-button{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 28%;
    margin: auto;
    text-align: center;
    display: block;
    display: flex;
    width: 180px;
}

.entry-button p{
    font-size: 16px;
    text-align: left;
}

.entry-button p.bold{
    font-weight: 900;
}

.button-cursor{
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.js_novel_daysButtonBar {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.js_novel_daysButtonBarBody {
    background: hsla(0, 0%, 0%, 0.1);
    bottom: -10px;
    display: block;
    height: 1.5px;
    left: -184px;
    position: absolute;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    width: 100%
}

.js_novel_daysButtonBarBody {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(.77,0,.175,1) 1.2s;
    transition: -webkit-transform 1.2s cubic-bezier(.77,0,.175,1) 1.2s;
    transition: transform 1.2s cubic-bezier(.77,0,.175,1) 1.2s;
    transition: transform 1.2s cubic-bezier(.77,0,.175,1) 1.2s,-webkit-transform 1.2s cubic-bezier(.77,0,.175,1) 1.2s
}

.js_novel_daysButtonBarBody {
    -webkit-transform: translate(100%);
    transform: translate(100%);
    -webkit-transition: -webkit-transform 1.2s cubic-bezier(.77,0,.175,1);
    transition: -webkit-transform 1.2s cubic-bezier(.77,0,.175,1);
    transition: transform 1.2s cubic-bezier(.77,0,.175,1);
    transition: transform 1.2s cubic-bezier(.77,0,.175,1),-webkit-transform 1.2s cubic-bezier(.77,0,.175,1)
}

.js_novel_daysButtonBarBodyInner {
    background: #000;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%
}

.js_novel_daysButtonBarBodyInner {
    -webkit-animation: js_novel_daysButtonBarBodyInner 2.8s cubic-bezier(.77,0,.175,1) infinite;
    animation: js_novel_daysButtonBarBodyInner 2.8s cubic-bezier(.77,0,.175,1) infinite
}

@-webkit-keyframes js_novel_daysButtonBarBodyInner {
    0%,10% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right top;
        transform-origin: right top
    }

    50% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right top;
        transform-origin: right top
    }

    51% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left top;
        transform-origin: left top
    }

    90%,to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left top;
        transform-origin: left top
    }
}

@keyframes js_novel_daysButtonBarBodyInner {
    0%,10% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: right top;
        transform-origin: right top
    }

    50% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right top;
        transform-origin: right top
    }

    51% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left top;
        transform-origin: left top
    }

    90%,to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left top;
        transform-origin: left top
    }
}

.js_novel_daysButtonBarBody {
    height:1.5px
}

body.book-layout{
    overflow: visible;
    background-color: #000;
    color: #fff;
}

.book-body{
    width: 100%;
}

.book-body .text{
    max-width: 500px;
    margin: 80px auto 120px;
}

.book-body .text h2{
    margin: 0 auto 24px;
    text-align: center;
}

.book-body h2 span{
    font-size: 12px;
    letter-spacing: 0.03em;
    display: block;
    font-weight: 800;
    margin-bottom: 4px;;
}

.book-body h2 em{
    font-size: 38px;
    letter-spacing: 0.03em;
}

.book-body .text p{
    margin: 0 auto 24px;
    line-height: 1.7em;
    font-family: "ten-mincho-text", serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.02em;
    font-size: 23px;
}

/* 
#bgimages,
#bgimages .content,
#bgimages .slide-wrapper,
#bgimages .slide-item,
#bgimages .slide-item__image{
    z-index: -1;
}

canvas{
    position: fixed!important;
    z-index: -1;
} */

#glCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.title-fadein{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper{
    display: flex;
    flex-direction: column;
}

.title-fadein .logo{
    margin-bottom: 40px;
}


.title-fadein img{
    max-width: 500px;
}

.title-fadein h1{
    font-size: 24px;
    text-align: center;
    font-family: "ten-mincho-text", serif;
    margin-bottom: 24px;
    /* color: #64FF01; */
}

.discript h1 span.se{
    margin-left: 3px;
}
.discript h1 span.ki{
    margin-left: 1px;
}

.title-fadein h2{
    font-size: 15px;
    text-align: center;
    font-family: "ten-mincho-text", serif;
    /* color: #64FF01; */
}



.content {
    margin-bottom: 500px!important;
}


.fadein {
	opacity: 0;
	animation-name: fadein;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-name: fadein;
}


.fadein.logo {
    animation-delay: 2s;
}

.fadein.discript {
    animation-delay: 3s;
}

.fadein.scroller {
    animation-delay: 3.5s;
}


@keyframes fadein {
    0% {
    }
    100% {
        opacity: 1;
    }
}


.next {
  position: relative;
}

.spinner {
  animation: rotator 3s linear infinite;
}
.spinner-arrow {
  animation: vertical-translate 3s ease-out infinite;
  position: absolute;
  margin-top: -12px;
  left: 19px;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(250deg);
  }
}

.path {
  stroke-dasharray: 245;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #ffffff;
  animation: dash 3s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 245;
  }
  70% {
    stroke-dashoffset: 81.25;
    transform: rotate(205deg);
  }
  100% {
    stroke-dashoffset: 245;
    transform: rotate(540deg);
  }
}

@keyframes vertical-translate {
  0% {
    opacity: 0;
    top: -20%;
  }
  25% {
    opacity: 1;
    top: 50%;
  }
  75% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 120%;
  }
}

.scroller{
    position: relative;
    margin: 56px auto;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.scroller p{
    font-size: 13px;
    font-family: "ten-mincho-text", serif;
    text-align: center;
    margin-top: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
    position: relative;
}

.modal.show {
    opacity: 1;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.modal-content img{
    max-width: 320px;
}

.button-buy{
    display: block;
    background-color: #BEFD4F;
    opacity: 1;
    color: #000;
    padding: 16px;
    border-radius: 32px;
    font-family: "ten-mincho-text", serif;
    max-width: 330px;
    margin: 40px auto;
}

.button-buy:hover{
    background-color: #17e84e;
    color: #000;
}

.award{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.award img{
    width: 160px;
    margin: 0 8px 16px;
}

.batsu {
  display: block;
  position: absolute;
  top: 32px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
 
.batsu::before, .batsu::after { /* 共通設定 */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px; /* 棒の幅（太さ） */
  height: 40px; /* 棒の高さ */
  background: #f7f7f7;
}
 
.batsu::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.batsu::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}